@model Progra_web_3_Tp_final.Models.Usuario;

@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/usuarios.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="mt-4">

    <form action="../../Usuarios/EditarUsuario" method="post">
        <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
        <div>

            <input type="text" class="form-control col-lg-3" id="email_user" name="Email" placeholder="Ingrese Email" value="@Model.Email">

            <input type="password" class="form-control col-lg-3" id="password_user" name="Password" placeholder="Ingrese Contraseña" value="@Model.Password">

            <label class="form-check-label col-lg-9" for="excluir_eliminados">Es administrador</label>

            <input type="checkbox" class="form-check-input" id="marca_user" name="AdminCheck" placeholder="Es administrador" value="@Model.EsAdmin">

            <input type="text" class="form-control col-lg-3" id="nombre_user" name="Nombre" placeholder="Ingrese Nombre" value="@Model.Nombre">

            <input type="text" class="form-control col-lg-3" id="apellido_user" name="Apellido" placeholder="Ingrese Apellido" value="@Model.Apellido">

            <input type="date" class="form-control col-lg-3" id="fecha_nacimiento_user" name="Fecha de Nacimiento" placeholder="Ingrese Fecha de nacimiento" value="@Model.FechaNacimiento">
        </div>

        <button type="submit" class="btn btn-success mt-2" onclick="editar()">Modificar</button>
    </form>

    <div class="text-center mt-2 d-flex">
    
        <div>
            <form action="../../Usuarios" method="post">
                <button type="submit" class="btn btn-danger">Cancelar</button>
            </form>
        </div>
    </div>
</div>